@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12 text-center">
        <h4 class=""><i class="fa-solid fa-bullhorn"></i> Quadro de Avisos</h4>
        <br/>
    </div>
@*     <div class="col-1">
        <button class="btn btn-outline-warning btn-sm botao-100">
            <i class="fa-solid fa-plus"></i> Aviso
        </button>
    </div> *@
    <div class="col-sm-4">
        <img src="~/imagens/avisos/aviso1.jpg" width="400px" />
    </div>
    <div class="col-sm-4">
        <img src="~/imagens/avisos/aviso2.jpg" width="400px" />
    </div>
    <div class="col-sm-4">
        <img src="~/imagens/avisos/aviso3.jpg" width="400px" />
    </div>
</div>
