<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FIBINET</title>
    <!--Fontes-->
    <script src="https://kit.fontawesome.com/606ef79444.js" crossorigin="anonymous"></script>
    <!--Frameworks-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GESTAO.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="menu">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fibinet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!--Menu Item - Home-->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-house"></i> Home
                            </a>
                        </li>
                        <!--Fim Menu Item - Home-->

                        <!--Menu Item - Documentação-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-folder-tree"></i> Documentação
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#"> POP</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> Incidentes de rede</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> Incidentes com fornecedores</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> BGP</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> Clientes</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> Credenciais</a>
                                </li>
                            </ul>
                        </li>
                        <!--Fim - Menu Item-->

                        <!--Menu Item - Equipe-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-people-group"></i> Equipes
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#"> Usuários</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> Setores</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> Tarefas</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> Escalas</a>
                                </li>
                            </ul>
                        </li>
                        <!--Fim - Menu Item-->

                        <!--Menu Item - Outros-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-table-list"></i> Cadastro
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#"> Clientes</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> Fornecedores</a>
                                </li>

                            </ul>
                        </li>
                        <!--Fim - Menu Item-->

                        <!--Menu Item - Relatórios-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-gauge"></i> Relatórios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"> Teste1</a></li>
                                <li><a class="dropdown-item" href="#"> Teste2</a></li>
                            </ul>

                        </li>
                        <!--Fim - Menu Item-->

                        <!--Menu Item - Comunicação-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bullhorn"></i> Comunicação
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#"> Quadro de Avisos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> E-mails</a>
                                </li>
                            </ul>
                        </li>
                        <!--Fim - Menu Item-->

                        <!--Menu Item-Configurações-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-gear"></i> Configurações
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#"> SMTP</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"> Logs</a>
                                </li>
                            </ul>
                        </li>

                        <!--Fim - Menu Item-->

                        <!--Menu Item - Atalho Add tafefa-->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <button class="btn btn-warning btn-sm">
                                    <i class="fa-solid fa-robot"></i> Fibibot
                                </button>
                            </a>
                        </li>
                        <!--Fim Menu Item - Avisos-->
                    </ul>
                    <!-- Fim menu-->
                    <!--Menu usuário-->
                    <ul class="navbar-nav flex-grow-10">
                        @{
                            //if (Context.Session.GetString("UserName") != null)
                            if ("1"=="1")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index"><img src="/imagens/avatares/fibinho.jpg" id="user-image" width="30"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Olá, Nome</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
                                </li>
                            }
                            else
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                                </li>
                            }
                        }
                    </ul>
                    <!--Fim - Menu usuário-->
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Fibinet - <a asp-area="" asp-controller="Home" asp-action="Privacy">.</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
