@page

<div class="row">
    <div class="col-md-4 col-sm-4 card-login">
        <center>
            <img src="~/images/fibinet-1.svg" id="img-login" width="100px" />
        </center>
        <h3 class="text-center">Seja bem-vindo ao GNOC</h3>
        <p class="text-center">Informe os dados de acesso abaixo:</p>
        <br />
        @if (ViewBag.Error != null)
        {
            <div style="color:red">@ViewBag.Error</div>
        }
        <form action="Login" method="post">
            <div>
                <label for="email">Email:</label>
                <br />
                <input class="form-control" type="email" id="email" name="Email" required />
            </div>
            <br />
            <div>
                <label for="password">Senha:</label>
                <input class="form-control" type="password" id="password" name="Password" required />
            </div>
            <br />
            <button class="btn btn-warning btn-100" type="submit">Entrar</button>
        </form>
    </div>
</div>
