@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}
<div class="row section">
    <div class="col-md-12 col-sm-12">
        <p><i b-1mqkslepx9="" class="fa-solid fa-list-check" aria-hidden="true"></i> Tarefas</p>
    </div>
</div>

<div class="row section">
    <div class="col-md-12 col-sm-12">
        <p><i b-1mqkslepx9="" class="fa-solid fa-list-check" aria-hidden="true"></i> Tarefas por usuário</p>
    </div>
</div>

<div class="row section">
    <div class="col-md-12 col-sm-12">
        <p><i b-1mqkslepx9="" class="fa-solid fa-calendar-days" aria-hidden="true"></i> Plantão de Setembro 2025</p>
    </div>
</div>

<div class="row section">
    <div class="col-md-12 col-sm-12">
        <p><i b-1mqkslepx9="" class="fa-solid fa-calendar-days" aria-hidden="true"></i> Plantão por usuário</p>
    </div>
</div>

